# commands to specify testing environments
language: python
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
    - python: 3.8
      dist: xenial
      sudo: true
    - python: nightly
      dist: xenial
      sudo: true
  allow_failures:
    - python: nightly

branches:
  only:
    - master
    - /^[0-9].+$/

# command to install dependencies
install:
  - pip install -r test-requirements.txt

# command to run tests
script:
  python -m unittest discover -p '*_test.py'

# command to deploy to pypi on tags
deploy:
  provider: pypi
  user: "cmeyer"
  password:
    secure: "hNAg6lFAThjUlZ7Gg3o9JyTjpb042pDFVL+E93snlijh1rWMTNplMx0aq5Rss2Nkh2HH3aM1BhddzFTZXAQl3fYf7kZ2EkUT2o0euGmGbbg2APTX2SLmPqUB1mAxzHbQ2PWmOhdtBu7qg4JA3t9rp0yfb+Rob3zXfUbp55EDP3OkpuYPaeR1mZc6Wkoey36i/pHdvccpgoDxgONul0f3t8tM7aMRWrTU9YQhWDEDECAMhQPXjven5D0BcfeYxcZmx/QCLRbTpWmXF3GdHrQCYdo+6sBKdecZKcdfMGbH7kX7r0kdgoBlOAbqFamzU1Fadi36FVaenmlpSYyMoJLgeW5gsQBrNnaWk9XKfJWGFfmL792FMQxdFaJKuAvC0ESe+FBmcUKndUpNmF81RwB+awM5zL93QkIhfabeLe9eSvJGf27CNqW8NA8gsalyefdYLskhT6q8TWlI3PWNDLMX+xqARpxd00EONx646hreJTW72g31s6L59sg2Ae6CzBlErULdRc87UFpyNmtuh8tyV3aZJ8skhTIV3fB8C0y0Nzq18gGXPvknO8mymEjunn/6Sa6OXwV560BJecsQ8yn7IvQ9b7VBxkdVi5vjWeeZHIW/GyrdjvnysOCrMMiaiv6oxESahMBoTl2RjfFaymDee2wO6Y9vt7hvQBf54cq3PNY="
  on:
    tags: true
    python: '3.7'
    branch: master
  distributions: "sdist bdist_wheel" # Your distributions here
